<header id="school-header"
        class="navbar navbar-default navbar-static-top" {% if current_user %} data-user='{"id": {{ current_user.id }}, "name": "{{ current_user.first_name + ' ' + current_user.last_name }}", "cpf": "{{ current_user.cpf }}", "email": "{{ current_user.email }}", "avatar_url": "{{ current_user.cover_image_url }}"}' {% endif %}>

  <div class="container">
    <div class="navbar-header row">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu">
        <i class="img-icon img-icon-menu"></i>
      </button>
      <a class="navbar-brand {% if settings.view.general.navbar.logo.size > 0 %}navbar-brand-img{% endif %}" href="/">
        {% assign logo = 'logo.png' | asset_url %}
        {% image, src: logo %}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="header-menu">
      <ul class="nav navbar-nav navbar-right">
        {% if current_user == nil %}
          <li>
            <a href="/pages/institucional">Institucional</a>
          </li>
          <li>
            <a href="/products">
              <span>Cursos <i class="caret"></i></span>
            </a>
            <ul class="submenu">
              <li>
                <a href="/categories/online">Online</a>
              </li>
              <li>
                <a href="/categories/presenciais">Presenciais</a>
              </li>
              <li>
                <a href="/pages/contato">inCompany</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/pages/parceiros">Parceiros</a>
          </li>
          <li>
            <a href="/pages/contato">Contato</a>
          </li>
        {% endif %}

        {% if current_user == nil or current_user.type == 'Student' %}
          <li class="list-item-icon">
            <a href="/cart">
              <i class="img-icon img-icon-cart"></i>
            </a>
          </li>
        {% else %}
          <li>
            <a href="{{ current_user | sso_admin_path: current_api_key }}">
              <span>{{ 'navbar.admin' | t }}</span>
            </a>
          </li>
        {% endif %}


        {% if current_user %}
          <li>
            <a href="/forums">
              <span>{{ 'navbar.forum' | t }}</span>
            </a>
          </li>

          {% if current_user.type == 'Student' %}
            <li>
              <a href="/enrollments">
                <span>{{ 'navbar.my_courses' | t }}</span>
              </a>
            </li>

            <li>
              <a href="/certificates">
                <span>{{ 'navbar.my_certificates' | t }}</span>
              </a>
            </li>
            {% elsif current_user.type == 'Collaborator' %}
            <li>
              <a href="/courses">
                <span>{{ 'navbar.my_courses' | t }}</span>
              </a>
            </li>
          {% endif %}

          {% include 'navbar-user-links', mobile_class: true %}

          <li class="dropdown">
            <a href="#" class="dropdown-toggle user-options" data-toggle="dropdown">
              <i class="icon icon-arrow-down"></i>
              <span class="avatar">
                {% assign avatar_alt = current_user | fullname %}
                {% image, src: current_user.cover_image_url, alt: avatar_alt, class: 'avatar-img' %}
              </span>
            </a>

            <ul class="dropdown-menu">
              {% include 'navbar-user-links' %}
            </ul>
          </li>

        {% else %}
          <li class="list-item-icon">{{ 'navbar.sign_in' | t | login_link }}</li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>
