<div class="page contato-page">
  <div class="page-cover">
    <img src="{{ settings.view.contato.cover }}"
         class="img-responsive"
         data-mobile="{{ settings.view.contato.cover_mobile }}"
         alt="">
  </div>

  <div class="container page-container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-content">
          <div class="text">
            {{ page.content }}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="page-content">
          <h2>Contato</h2>
          <form id="contact-form" action="https://formspree.io/{{ settings.view.contato.email }}" method="post">
            <input type="hidden" name="_language" value="pt"/>
            <input type="hidden" name="_subject" value="{{ settings.view.contato.subject }}">
            <input type="hidden" name="_next" value="{{ settings.view.contato.back_page }}">
            <input type="text" name="_gotcha" style="display:none" />

            <p>Para verificar a disponibilidade dos cursos entre em contato pelo formulário abaixo:</p>
            <div class="form-group">
              <label for="name">Nome:</label>
              <input type="text" class="form-control" name="Nome" id="name" required>
            </div>
            <div class="form-group">
              <label for="name">E-mail:</label>
              <input type="email" class="form-control" name="Email" id="email" required>
            </div>
            <div class="form-group">
              <label for="name">Telefone:</label>
              <input type="text" class="form-control" name="Telefone" id="phone">
            </div>
            <div class="form-group">
              <label for="name">Assunto:</label>
              <select class="form-control" name="Assunto" id="subject" required>
                <option value="Cursos Incompany">Cursos Incompany</option>
                <option value="Cursos Online">Cursos Online</option>
                <option value="Cursos Presenciais">Cursos Presenciais</option>
                <option value="Dúvidas">Dúvidas</option>
                <option value="Reclamações">Reclamações</option>
                <option value="Sugestões">Sugestões</option>
              </select>
            </div>
            <div class="form-group">
              <label for="name">Mensagem:</label>
              <textarea class="form-control" name="Mensagem" id="message" rows="8" required></textarea>
            </div>
            <div class="form-group text-right">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
