<div id="product-card-{{ product.id }}" class="thumbnail product product-card">
  <div class="logo">
    <a href="/{{ product.slug }}">
      {% if product.logo %}
        {% image, src: product.logo, alt: product.title %}
      {% else %}
        {% assign placeholder = 'missing-product-logo.png' | asset_url %}
        {% image, src: placeholder, alt: product.title %}
      {% endif %}
    </a>
  </div>

  <div class="caption">
    <a class="title"
       title="{{ product.title }}"
       data-toggle="{% if product.title.size > 60 %}tooltip{% endif %}"
       id="product-{{ product.id }}" href="/{{ product.slug }}">
      {{ product.title | truncate: 60 }}
    </a>
  </div>

  {% assign first_option = product.payment_options[0] %}

  {% if first_option %}
    <div class="price">
      {% if first_option.promotional == true %}
        <span class="base-price">
          <del>{{ first_option.base_price | money_option_presentation_with_taxes: first_option.kind, first_option.period, gateway }}</del>
        </span>
      {% endif %}

      {% if first_option.kind == 'subscription' %}
        <span
          class="final-price"> {{ first_option.price | money_option_presentation: first_option.kind, first_option.period, 'full', 1 }} </span>
      {% else %}
        <span
          class="final-price">{{ first_option.price | money_option_presentation_with_taxes: first_option.kind, first_option.period, gateway }}</span>
      {% endif %}

      <span class="full-frice">ou 1x de {{ first_option.price | money }}</span>

      {% if first_option.trials > 0 %}
        <div class="trial-caption">{{ 'product.trial' | t: count: first_option.trials }}</div>
      {% endif %}
    </div>
  {% endif %}

  <div class="call-to-action">
    {% assign link = '' %}
    {% for topic in product.topics %}
      {% assign topic_title = topic.title | downcase %}
      {% if topic_title == 'link' %}
        {% assign link = topic.description | strip_html %}
      {% endif %}
    {% endfor %}

    {% if link.size > 0 %}
      <a href="{{ link }}" class="btn btn-primary btn-block">Saiba Mais</a>
    {% else %}
      <a href="/{{ product.slug }}" class="btn btn-primary btn-block">Saiba Mais</a>
    {% endif %}
  </div>
</div>
